.App {
  text-align: center;
  background-color: #dde0e4;
  min-height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: white;
  padding-top: 50px;
  padding-bottom: 100%;
}

.App-header {
  text-align: center;
  background-color: #dde0e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  height: 90%;
}

h1{
  color: rgb(27, 120, 160);
}

.textboxbig{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 10px;
  position: absolute;
  width: 30%;
  height: 9%;
  background: #FFFFFF;
  border-radius: 20px;
  border: white;
  font-size: 20px;
}

.textbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px;
  gap: 10px;
  position: absolute;
  width: 30%;
  height: 6%;
  background: #FFFFFF;
  border-radius: 20px;
  border: white;
  font-size: 20px;
}



